
  <div
    class="fb-like"
    data-share="true"
    data-width="450"
    data-show-faces="true">
  </div>

  <h1>Hello World!</h1>
  <div class="container">
    <div class="row data-query">
      <div class="col-xs-3 filterby">Filter By</div>
        <div class="col-xs-3 filter">
          <ul class="filter-dropdown pull-left">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Condition <b class="caret"></b>
              </a>
              <ul class="dropdown-menu ">
                <li><a href="#">Like New</a></li>
                <li><a href="#">Good Condition</a></li>
                <li><a href="#">Fair Condition</a></li>
                <li class="divider"></li>
                <li class="divider"></li>
                <li><%= link_to "Condition", toys_path %></li>

              </ul>
            </li>
          </ul>
        </div>
        <div class="col-xs-3 filter">
          <ul class="filter-dropdown pull-left">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Age Group <b class="caret"></b>
              </a>
              <ul class="dropdown-menu ">
                <li><a href="#">0-1yr</a></li>
                <li><a href="#">1-2yrs</a></li>
                <li><a href="#">2-4yrs</a></li>
                <li><a href="#">4-8yrs</a></li>
                <li><%= link_to "Age Group", toys_path %></li>
              </ul>
            </li>
          </ul>
      </div>
        <div class="col-xs-3 filter">
          <ul class="filter-dropdown pull-left">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Category <b class="caret"></b>
              </a>
              <ul class="dropdown-menu ">
                <li><a href="#">Activity & Learningr</a></li>
                <li><a href="#">Arts & Crafts</a></li>
                <li><a href="#">Baby Toys</a></li>
                <li><a href="#">Dolls</a></li>
                <li><%= link_to "Category", toys_path %></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
<!-- toy listing starts  -->
  <section>
    <div class="row">
      <% 3.times do |n| %>
        <div class="col-xs-4">
          <div class="row toy-image">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-12 toy-box">
                  <!-- <div class="thumbnail" >
                    <%= image_tag 'https://derpibooru.org/850623, width="200" , height="200"' %>
                    <!-- <%= link_to (image_tag (toy.user.picture_url (:small)), user %> -->
                </div> -->
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <p>This is a toy that is used lightly.</p>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-12">
                  <%= link_to  "Contact", new_conversation_path, class:'btn btn-default' %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </section>
