<%= simple_form_for [@toy, Message.new] do |f| %>
  <div class="field">
    <%= f.hidden_field :toys_id, :value => @toy %>
    <%= f.hidden_field :user_id, :value => current_user %>
    <%= f.label :message %>
    <%= f.text_field :body %>
  </div>
  <div class="actions">
    <%= f.submit "Send" %>
  </div>
<% end %>
