<div class="panel panel-default">
  <div class="panel-heading">
    <h2> This is your conversation about <%= link_to @conversation.toy.name , toy_path(@conversation.toy)%></h2>
  </div>
  <div class="col-xs-12 well">
      <% @messages.each do |message| %>

          <p><%= message.user.username %> : <%= message.body %> </p>
          <% end %>

    <%= simple_form_for [@conversation, Message.new] do |f| %>
        <%= f.hidden_field :toys_id, :value => @toy %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.input :body, :as => :text, label: false, placeholder: "Write your message here" %>
      <div>
        <%= f.button :submit, 'Send', :class=> "btn btn-primary btn-send-message" %>
      </div>
    <% end %>
  </div>
  <div class="col-xs-12">
      <%= attachment_image_tag(@conversation.toy, :profile_image, :fill, 100, 100, fallback: "/assets/toy2.png", class:'toy-image') %>
  </div>
</div>
