<%= simple_form_for [@conversation, Message.new] do |f| %>
    <%= f.hidden_field :toys_id, :value => @toy %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.input :body, :as => :text, label: false, placeholder: "Write your message here" %>
  <div>
    <%= f.button :submit, 'Send', :class=> "btn btn-primary btn-send-message" %>
  </div>
<% end %>
