
<div class="row">
  <h1><%= @toy.name %></h1>
</div>
<p id="notice"><%= notice %></p>
<div class="row">
<%= render partial: '/static_pages/singletoybox' %>
</div>
<hr>
<div class="row">
  <div class="col-xs-4">
    <%= image_tag attachment_url(@toy, :profile_image, :fill, 300, 300, format: "jpg") %>
  </div>
  <div class="col-xs-8">
    <div class="row">
      <div class="col-xs-12">
        <div class="row">

        </div>
        <hr>
        <div class="row">
          <%= simple_form_for @conversation, toy_path do |f| %>
          <div class='row'>
            <div class='col-md-12'>
              <%= f.label :body %>
              <%= f.text_area :body, class: 'form-control' %>
            </div>
          </div>
          <div class='row'>
            <div class='col-md-12'>
              <%= f.submit class: "btn btn-primary" %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
