<h1>Listing conversations</h1>

  <p id="notice"><%= notice %></p>

<%= react_component("Newconversation") %>


<%= react_component('conversations', conversations: @conversations) %>

<% @conversations.each do |conversation| %>
  <% react_component('conversation', body: conversation.body) %>
<% end %>




<!-- <table class='table table-border table-hover'>
  <thead>
    <tr>
      <th>Image url</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @conversations.each do |conversation| %>
      <tr>
        <td><%= conversation.body %></td>
        <td><%= link_to 'Show', conversation %></td>
        <td><%= link_to 'Edit', edit_conversation_path(conversation) %></td>
        <td><%= link_to 'Destroy', conversation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table> -->

<br />

<%= link_to 'New conversation', new_conversation_path %>
