<div class="panel panel-default">
  <div class="panel-heading">
    <h3>In your Inbox there are <%= @conversations.count %> conversations: </h3>
    <% if @conversations.empty? %>
    <p>You have no conversations</p>
    <% end %>
  </div>
  <div class="list-group">
    <% @conversations.each do |conversation| %>
      <p class="list-group-item">
       <%= link_to "Conversation about toy", conversation_messages_path(conversation) %>
         <%= link_to conversation.toy.name, toy_path(conversation.toy) %>.
           You have <%= conversation.messages.count %> message in this conversation for this toy.
      </p>
      <%= button_to "Go to the Conversation", conversation_messages_path(conversation), form_class: 'btn-group', class: "btn btn-default", type: "button", :method => :get  %>

    <% end %>
  </div>
</div>
