
<div class="row">
  <h1>Hi <%= @user.username %></h1>
</div>
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-6">
      <h3>Your Listed Toys</h3>
    </div>
    <div class="col-xs-6 pull-right">
      <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#myModal">
         List Your Toy
      </button>
       <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" id="myModalLabel">New Toy</h4>
             </div>
             <div class="modal-body">
                <%= render partial: 'toys/new' %>
              </div>
           </div>
         </div>
       </div>
     </div>
  </div>
</div>

<hr>
<div class="row">

  <% @user.toys.each do |t| %>
    <div class="col-xs-6 col-sm-4 image-height">
      <%= image_tag attachment_url(t, :profile_image, :fill, 100, 100, format: "png") %>
      <p>Brand: <%= t.brand %></p>
      <p>Name: <%= t.name %></p>
      <p>category: <%= t.category %></p>
      <p>Age Group: <%= t.age_group %></p>
      <p>Description: <%= t.description %></p>
    <%= link_to 'Delete', toy_path(t.id), method: :delete, class: 'btn btn-default', data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>

</div>
<hr>
<div class="row">
  <div class="col-xs-12">
      <h3>Your Requested Toys</h3>
  </div>
  <hr>
    <% @wanted_toys.each do |t| %>
      <div class="">
      <img scr="<%= t.profile_image %>">
      </div>
    <% end %>
</div>
