
<div class="row page-header">
  <h1>Hi <%= @user.username %></h1>
</div>

<!-- Your lift of Toys Header -->
<div class="row">
  <div class="col-xs-12 page-header">
    <div class="col-xs-6">
      <h3>Your Listed Toys</h3>
    </div>
    <!-- Modal for listing your toys -->
    <div class="col-xs-6 pull-right">
      <button type="button" class="btn btn-default list-button" data-toggle="modal" data-target="#myModal">
         List Your Toy
      </button>
       <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
         <div class="modal-dialog" role="document">
           <div class="modal-content">
             <div class="modal-header">
               <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
               <h4 class="modal-title" id="myModalLabel">New Toy</h4>
             </div>
             <div class="modal-body">
                <%= render partial: 'toys/new' %>
              </div>
           </div>
         </div>
       </div>
     </div>
  </div>
</div>
<!-- Yourlisted toys  -->
<div class="row">
  <% @user.toys.each do |t| %>
    <div class="col-xs-12 col-sm-6 col-md-4 image-height">
      <%= image_tag attachment_url(t, :profile_image, :fill, 200, 200, format: "png") %>
      <p>Brand: <%= t.brand %></p>
      <p>Name: <%= t.name %></p>
      <p>category: <%= t.category %></p>
      <p>Age Group: <%= t.age_group %></p>
      <p>Description: <%= t.description %></p>
    <%= link_to 'Delete', toy_path(t.id), method: :delete, class: 'btn btn-default', data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>

</div>
<!-- Request toys lists  -->
<div class="row">
  <div class="col-xs-12 page-header">
      <h3>Your Requested Toys</h3>
  </div>
  <% @wanted_toys.each do |t| %>
    <div class="col-xs-12 col-sm-6 col-md-4 image-height">
      <%= image_tag attachment_url(t, :profile_image, :fill, 200, 200, format: "png") %>
      <p>Brand: <%= t.brand %></p>
      <p>Name: <%= t.name %></p>
      <p>category: <%= t.category %></p>
      <p>Age Group: <%= t.age_group %></p>
      <p>Description: <%= t.description %></p>
      <%= link_to  "Send a Message", conversations_path(conversation: { sender_id: current_user.id, recipient_id: t.user.id, toy_id: t.id }), method: :POST, class:'btn btn-default' %>
    </div>
  <% end %>
</div>
