<%= render partial: '/layouts/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-sm-4">
      <h2>How To</h2>
      <p>Do you have a closet full of toys that your kids don't play with anymore?<p>
      <p>Are you tired of spending hundreds of dollars on toys that quickly abandoned?</p>
      <p>Toy Exchange is a place for moms and dads to find toys in their local community at no cost.
        <P>List toys you no longer want.</p>
        <p>Search for toys by catergory, age group and condition.</p>
        <p>Communicate with other members in your local community if you are interested in a toy.</p>
        <p>Arrange a pick up.</p>
      </p>
    </div>
    <div class="col-xs-6 col-sm-4">
      <img src="assets/toy2.png" width="50%">
    </div>
  </div>
    <div class="row">
      <div class="col-xs-6 col-sm-4" align="left">
        <h3>Send A message to Us</h3>
          <%= simple_form_for Contact.new do |f| %>
            <%= f.input :name, :required => true %>
            <%= f.input :email, :required => true %>
            <%= f.input :message, :as => :text, :required => true %>
            <div class= "hidden">
              <%= f.input :nickname, :hint => 'Leave this field blank!' %>
            </div>
            <div>
              </br>
              <%= f.button :submit, 'Send message', :class=> "btn btn-primary" %>
            </div>
          <% end %>
      </div>
    </div>
</div>
